<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title>Movie Library</title>
</head>
<body ng-app="MoviesApp">
	<div ng-controller="MovieController" class="container">
		<h1>Movie Library</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Rate</th>
					<th>Year</th>
					<th>Plot</th>
					<th>&nbsp</th>
				</tr>
				<tr>
					<th><input ng-model="movie.title" class="form-control"/></th>
					<th><input ng-model="movie.rate" class="form-control" /></th>
					<th><input ng-model="movie.year" class="form-control" /></th>
					<th><input ng-model="movie.plot" class="form-control" /></th>
					<th>

					<button ng-click="updateMovie()" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>

					<button ng-click="addMovie()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>

					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="movie in movies">
					<td>{{movie.title}}</td>
					<td>{{movie.rate}}</td>
					<td>{{movie.year}}</td>
					<td>{{movie.plot}}</td>
					<td>
						<button ng-click="removeMovie(movie)" class="btn btn-danger">
							<span class="glyphicon glyphicon-remove"></span>
						</button>

						<button ng-click="selectMovie(movie)" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="js/MoviesApp.js"></script>
</body>
</html>